#不要用记事本修改该文件


*.pdb
*.suo
*.user

!.gitignore
!*.h
!*.[cC][sS]
!*.csproj
!*.config
!*.resx
!*.sln
![Aa]pp.manifest


#其他
!/docs
!*.txt
!*.bat
!*.ico
!LICENSE*
!README*

#完全要忽略的
[Oo]bj/
[Dd]ebug
[Rr]elease
[Oo][Kk][Rr]elease

